.navigation-list {
  ul {
    display: flex;
  }

  // li {
  //   margin-right: 42px;
  // &:last-child {
  //   margin-right: 0;
  // }
  // }

  li:not(:last-child) {
    margin-right: 32px;
  }

  a {

    &:hover {
      color: $accent-color;
    }

    &.active {
      color: $accent-color;
      font-weight: 700;
    }
  }
}
