.objects {
  padding-top: 45px;
  padding-bottom: 80px;
}

.container {
}

.objects__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.objects__img {
}

.objects__text {
}
